{% extends "_layout.html" %}

{% block title %}Enquiry List{% endblock %}

{% block content %}

<div class="adviser-container">
    <h1>Active Enquiries</h1>
    <hr>
    
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Customer Name</div>
            <div class="col col-2">Telephone Number</div>
            <div class="col col-3">Contacted?</div>
            <div class="col col-4">Date of Enquiry</div>
            <div class="col col-5"></div>
        </li>
        {% for customer in customers %}
            <li class="table-row">
                <div class="col col-1" data-label="Customer Name">{{ customer.first_name }} {{ customer.last_name }}</div>
                <div class="col col-2" data-label="Telephone Number">{{ customer.telephone_number }}</div>
                <div class="col col-3" data-label="Contacted?">{{ customer.has_been_contacted }}</div>
                <div class="col col-4" data-label="Date of Enquiry">{{ customer.date_created }}</div>
                <div class="col col-5" data-label=""><a class="button button-small" href="{% url 'adviser-update' customer.personaldetails_ptr_id %}">View Enquiry</a></div>
            </li>
        {% endfor %}
    </ul>

    

    <!-- <form name="odip-form" method="POST">
        {% csrf_token %}

        {% if form.errors %}
        <div class="error-summary" tabindex="-1">
            <h2>There's been a problem</h2>
            <ul>            
            {% for key, value in form.errors.items %}
                <li>{{ value }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="field">
            <label class="field-label">{{ form.username.label }}</label>            
            {{ form.username }}
        </div> 

        <div class="field">
            <label class="field-label">{{ form.password.label }}</label>
            <span class="field-error field-validation-valid"></span>
            {{ form.password }}            
        </div>

        <div class="field">
            <button type="submit" id="submit">Login</button>
        </div>
    </form> -->
</div>

    

{% endblock %}