{% extends "_layout.html" %}
{% block title %}Property Details{% endblock %}
{% block content %}

<div class="container">
    <h1>Property Details</h1>
    <form action="{% url 'property_details' %}" method="POST">
        {% csrf_token %}

        {% if form.errors %}
        <div class="error-summary" tabindex="-1">
            <h2>There's been a problem</h2>
            <ul>            
            {% for key, value in form.errors.items %}
                <li>{{ value }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="field">
            <label class="field-label">Annual Income</label>            
            <div class="field-prefix-group">
                <div>£</div>
                {{ form.annual_income }}
            </div>            
        </div>

        <div class="field">
            <label class="field-label">Loan Amount</label>            
            <div class="field-prefix-group">
                <div>£</div>
                {{ form.loan_amount }}
            </div>
        </div>

        <div class="field">
            <label class="field-label">Property Value</label>
            <div class="field-prefix-group">
                <div>£</div>
                {{ form.property_value }}
            </div>
        </div>

        <fieldset>
            <Legend>
                <label class="field-label">Mortgage Type</label>
            </Legend>
            <!-- <span class="field-error"></span> -->
            <div class="field-radio-button">
                <input type="radio" name="mortgage_type" id="mortgage-type-new-house" value="NH">
                <label for="mortgage-type-new-house">New House</label>
            </div>
            <div class="field-radio-button">
                <input type="radio" name="mortgage_type" id="mortgage-type-remortgage" value="RM">
                <label for="mortgage-type-remortgage">Remortgage</label>
            </div>            
        </fieldset>

        <div class="field">
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
